# Set the default behavior for cygwin as now had some issues otherwise
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.c text
#*.cpp text
#*.h text
#*.hpp text

*.exe binary
*.dll binary
*.bat eol=crlf

# for cygwin
*.sh text eol=lf
*.in text eol=lf
config.sub text eol=lf
config.guess text eol=lf
configure text eol=lf
configure.ac text eol=lf
gen-version text eol=lf
install-sh text eol=lf
conserver-src/conserver/version.h eol=lf
*.pdf binary
*.png binary

