O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
*.o
autom4te.cache/
.deps/
config.log
config.status
*~
conserver-8.1.19/Makefile
conserver-8.1.19/configure
conserver-8.1.19/autologin/Makefile
conserver-8.1.19/config.h
conserver-8.1.19/conserver.cf/Makefile
conserver-8.1.19/conserver/Makefile
conserver-8.1.19/conserver/conserver.exe
conserver-8.1.19/conserver/conserver.rc
conserver-8.1.19/conserver/convert.exe
conserver-8.1.19/console/Makefile
conserver-8.1.19/console/console.exe
conserver-8.1.19/contrib/chat/Makefile
procServ-2.6.0/Makefile
procServ-2.6.0/configure
procServ-2.6.0/build-aux/
procServ-2.6.0/Makefile.in
procServ-2.6.0/procServ.exe
procServ-2.6.0/procServ.map
