# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.hpp text
*.exe binary
*.dll binary

# for cygwin
*.sh text eol=lf
*.in text eol=lf
config.sub text eol=lf
config.guess text eol=lf
configure text eol=lf
configure.ac text eol=lf
gen-version text eol=lf
