# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.hpp text
*.java text
*.bat text
*.cmd text
*.db text
*.dbd text
*.template text
*.substitutions text

# for cygwin
*.sh text eol=lf
config.sub eol=lf
config.guess eol=lf
configure eol=lf
configure.in eol=lf
configure.ac eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.class binary
*.vi binary

